{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        <!-- <div class="inner"> -->
            {{ range .Site.Params.Tiles.showcase }}
            <article class="tile {{ .filter }}">
                <span class="image">
                    <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                    <p>{{ .subtitle }}</p>
                </header>
            </article>
            {{ end }}
        <!-- </div> -->
    </section>
